body{
    background-color: #f0f8ff;
    text-align: center;
}

.form-box{
    background-color: #f0f8ff;
    border: 5px solid #000;
    margin: 10px 200px 100px 200px;
    padding: 50px;
}

h1{
    font-size: 75px;
}

h2 {
    background-color: #f0f8ff;
    font-weight: normal;
    border: 5px solid black;
    margin: 20px 200px;
    padding: 20px;
}

input {
    background: #ffffb3;
}

.bold {
    font-weight: bold;
}